
<table class="table" style="margin-top: 10px;">
    <thead>
      <tr>
       
        <th scope="col">title</th>
        <th scope="col">UserId</th>
        <th scope="col">completed</th>
        <!-- <th scope="col">zsdfgh</th> -->
      </tr>
    </thead>
    <tbody>
      <tr >     
        <td scope="row">{{todo.title}}</td>
        <td>{{todo.userId}}</td>
        <td>{{todo.completed}}</td>
        <td>  
            <button type="button" class="btn btn-info">güncelle</button>      
        </td>   
      </tr>    
    </tbody>
  </table>