<div *ngIf="loading==false; else loadingInfo">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-8">
      <input type="text" [(ngModel)]="filterText" class="form-control" placeholder="arama ifadesi"/>
      <span *ngIf="filterText" class="badge bg-secondary">{{filterText}}</span>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" routerLink="/todoAdd"  >
        Ekle</button>
      
    </div>
     
  </div>
  <table class="table" style="margin-top: 10px;">
    <thead>
      <tr>
        <!-- | paginate: { 
          itemsPerPage: 10,
          currentPage: page
          } " routerLink="../../todos/{{todo.id}}" -->
        <th scope="col">title</th>
        <th scope="col">UserId</th>
        <th scope="col">completed</th>
        <!-- <th scope="col">zsdfgh</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos | todoFilter:filterText" >
        
        <td scope="row">{{todo.title}}</td>
        <td>{{todo.userId}}</td>
        <td>{{todo.completed}}</td>
        <!-- <td>
          <button type="button" class="btn btn" routerLink="/todoUpdate" style="background-color: white;" >
            <img src="https://img.icons8.com/metro/26/000000/edit.png"/>
            </button>
        </td> -->
        <td>
          
            <button type="button" class="btn btn-success" routerLink="/../todos/update/{{ todo.id }}" > güncelle</button>
          
        </td>
        <td>
          
          <button type="button" class="btn btn-danger" (click)="delete(todo.id)" >sil</button>
        
      </td>
        
      </tr>
     
    </tbody>
  </table>

  <nav aria-label="Page Navigation">
    <ul class="pagination justify-content-center">
      <li style="cursor: pointer;" class="page-item"><a class="page-link"
          (click)="getTodosByPage(pagingInfo.currentPage-1)">Önceki</a></li>
      <li style="cursor: pointer;" class={{getCurrentPageStyle(i)}} *ngFor="let i of pageArray"><a
          (click)="getTodosByPage(i+1)" class="page-link">{{i+1}}</a></li>
      <li style="cursor: pointer;" class="page-item"><a class="page-link"
          (click)="getTodosByPage(pagingInfo.currentPage+1)">Sonraki</a></li>
    </ul>
  </nav>
</div>

<ng-template #loadingInfo>
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
  <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->